@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body, #root{
    height: 100%;
    width: 100%;
}

.category{
    position: absolute;
    top: 974px;
    width: 98px;
    height: 27px;
    left: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5E6282;
}

.offer{
    position: absolute;
    font-family: "Volkhov", serif;
    width: 547px;
    height: 65px;
    top: 1011px;
    left: 630px;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #14183E;
}

.side-design-image{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 950px;
    right: 80px;
}


.rectangle1{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 1250px;
    left: 150px;
    }


.settlelight{
    position: absolute;
    top: 1186px;
    width: 130px;
    left: 225px;
    border-radius: 18px 5px 10px 5px;

}

.plane1{
    position: absolute;
    width: 200px;
    left: 500px;
    top: 1160px;
    border-radius: 18px 5px 10px 5px;
    
}

.rectangle2{
    position: absolute;
    width: 200px;
    left: 500px;
    top: 1160px;
    border-radius: 18px 5px 10px 5px;
}

.mic{
    position: absolute;
    top: 1100px;
    left: 1200px;
}

.settings{
    position: absolute;
    top: 1100px;
    left: 1300px;
}

