*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.footer-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
      
.companyDesc{
    width: 200px;
    height: 130px;
    margin-top: 1500px;
    margin-left: 300px;
}

