@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.footer-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
      
.companyDesc{
    font-family: "Poppins", sans-serif;
    width: 200px;
    height: 130px;
    margin-top: 1500px;
    margin-left: 280px;
}

.page-information{
    width: 108px;
    height: 151px;
    margin-top: 1550px;
}

.page-information h1{
    font-family: "Poppins", sans-serif;
    width: 108px;
    height: 26px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #080809;
}

.page-information p{
    margin-top: 12px;
    width: 55px;
    height: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #5E6282;
}

.contact-information{
    width: 108px;
    height: 151px;
    margin-top: 1550px;
}

.contact-information h4{
    font-family: "Poppins", sans-serif;
    width: 108px;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #080809;
}

.contact-information p{
    margin-top: 12px;
    width: 55px;
    height: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #5E6282;
}

.more-information{
    width: 108px;
    height: 151px;
    margin-top: 1550px;
}

.more-information h4{
    font-family: "Poppins", sans-serif;
    width: 108px;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #080809;
}

.more-information p{
    margin-top: 12px;
    width: 100px;
    height: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #5E6282;
}


